<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
</head>
<body>
    <h1>Jovian Careers</h1>
    <img src="/static/banner.jpg" alt="Banner Image" width="100%">
    <h2>About Jovian</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint nam explicabo odio placeat vel porro, cupiditate, minima, quidem officiis dolore asperiores? In non numquam, hic illum commodi dolore nobis ea.</p>
    <h2>Open Positions</h2>
    <p>ToDo - Show Job Descriptions</p>
    <button>Contact Us</button>
</body>
</html>